.sidebar {
  background-color: #075e54;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 100vh;
  width: 300px;

  &__user {
    height: 75px;
    padding: 0 1.5em;
    border-bottom: 1px solid #128c7e;
    color: #fff;

    display: flex;
    align-items: center;
  }
}
